.jumbotron {
  padding-top: 5rem;
  background-color: #fadde1;
}
#projects {
  background-color: #fadde1;
}
section {
  padding-top: 5rem;
}
.footer {
  background-color: #fadde1;
}
#foter {
  background-color: #fadde1;
}
#navbarnav {
  background-color: #fadde1;
}
